Repository IBM/mcp-context-forge, pull requests merged in 2025-09, with the labels that each got.

#981 Fix some multitenancy issues
  docs/docs/architecture/roadmap.md
  docs/requirements.txt
  mcpgateway/admin.py
  mcpgateway/alembic/versions/cfc3d6aa0fb2_consolidated_multiuser_team_rbac_.py
  mcpgateway/db.py
  mcpgateway/main.py
  mcpgateway/services/gateway_service.py
  mcpgateway/services/import_service.py
  mcpgateway/services/server_service.py
  mcpgateway/services/tool_service.py
  tests/unit/mcpgateway/services/test_server_service.py
Labels: bug, python

#854 feat: add tool metadata and http headers to plugin tool hooks
  docs/docs/using/plugins/index.md
  mcpgateway/main.py
  mcpgateway/models.py
  mcpgateway/plugins/framework/__init__.py
  mcpgateway/plugins/framework/constants.py
  mcpgateway/plugins/framework/external/mcp/client.py
  mcpgateway/plugins/framework/manager.py
  mcpgateway/plugins/framework/models.py
  mcpgateway/services/prompt_service.py
  mcpgateway/services/resource_service.py
  mcpgateway/services/tool_service.py
  plugins/external/opa/opapluginfilter/plugin.py
  tests/integration/test_resource_plugin_integration.py
  tests/unit/mcpgateway/plugins/fixtures/configs/tool_headers_metadata_plugin.yaml
  tests/unit/mcpgateway/plugins/fixtures/configs/tool_headers_plugin.yaml
  tests/unit/mcpgateway/plugins/fixtures/plugins/headers.py
  tests/unit/mcpgateway/plugins/framework/test_manager.py
  tests/unit/mcpgateway/plugins/framework/test_manager_extended.py
  tests/unit/mcpgateway/services/test_resource_service_plugins.py
  tests/unit/mcpgateway/services/test_tool_service.py
Labels: enhancement, plugins

#1106 fix: multi-arch support for opa server
  plugins/external/opa/Containerfile
  plugins/external/opa/Makefile
Labels: bug

#1139 docs: revise and consolidate plugin specification and design docs
  docs/docs/architecture/.pages
  docs/docs/architecture/adr/016-plugin-framework-ai-middleware.md
  docs/docs/architecture/plugin-spec/.pages
  docs/docs/architecture/plugin-spec/01-architecture.md
  docs/docs/architecture/plugin-spec/02-core-components.md
  docs/docs/architecture/plugin-spec/03-plugin-types.md
  docs/docs/architecture/plugin-spec/04-hook-architecture.md
  docs/docs/architecture/plugin-spec/05-hook-system.md
  docs/docs/architecture/plugin-spec/08-external-plugins.md
  docs/docs/architecture/plugin-spec/09-security.md
  docs/docs/architecture/plugin-spec/10-error-handling.md
  docs/docs/architecture/plugin-spec/11-performance.md
  docs/docs/architecture/plugin-spec/12-development.md
  docs/docs/architecture/plugin-spec/13-testing.md
  docs/docs/architecture/plugin-spec/14-conclusion.md
  docs/docs/architecture/plugin-spec/plugin-framework-specification.md
  docs/docs/architecture/plugins.md
  docs/docs/architecture/plugins/gateway-hooks.md
  docs/docs/architecture/plugins/security-hooks.md
Labels: documentation, plugins

#1018 feat: add LLMGuard security guardrails plugin
  MANIFEST.in
  mcpgateway/plugins/framework/external/mcp/client.py
  plugins/external/config.yaml
  plugins/external/llmguard/.dockerignore
  plugins/external/llmguard/.env.template
  plugins/external/llmguard/.ruff.toml
  plugins/external/llmguard/Containerfile
  plugins/external/llmguard/MANIFEST.in
  plugins/external/llmguard/Makefile
  plugins/external/llmguard/README.md
  plugins/external/llmguard/cache_tokenizers.py
  plugins/external/llmguard/docker-compose.yaml
  plugins/external/llmguard/examples/config-all-in-one.yaml
  plugins/external/llmguard/examples/config-complex-policy.yaml
  plugins/external/llmguard/examples/config-input-output-filter.yaml
  plugins/external/llmguard/examples/config-input-output-sanitizer.yaml
  plugins/external/llmguard/examples/config-separate-plugins-filters-sanitizers.yaml
  plugins/external/llmguard/llmguardplugin/__init__.py
  plugins/external/llmguard/llmguardplugin/cache.py
  plugins/external/llmguard/llmguardplugin/llmguard.py
  plugins/external/llmguard/llmguardplugin/plugin-manifest.yaml
  plugins/external/llmguard/llmguardplugin/plugin.py
  plugins/external/llmguard/llmguardplugin/policy.py
  plugins/external/llmguard/llmguardplugin/schema.py
  plugins/external/llmguard/pyproject.toml
  plugins/external/llmguard/resources/plugins/config.yaml
  plugins/external/llmguard/resources/runtime/config.yaml
  plugins/external/llmguard/run-server.sh
  plugins/external/llmguard/tests/__init__.py
  plugins/external/llmguard/tests/pytest.ini
  plugins/external/llmguard/tests/test_all.py
  plugins/external/llmguard/tests/test_llmguardplugin.py
Labels: enhancement, security, plugins

#1147 docs: update plugins usage and document built-in plugins
  docs/docs/architecture/plugins.md
  docs/docs/using/plugins/.pages
  docs/docs/using/plugins/index.md
  docs/docs/using/plugins/lifecycle.md
  docs/docs/using/plugins/plugins.md
  plugins/external/llmguard/resources/plugins/config.yaml
Labels: documentation, plugins
